h4{
    margin: 0px;
    padding: 0px;
    width: inherit;
    height: 40px;
    box-sizing: border-box;
    padding-top: 8px;
    background-color: #dadfe8;
    border:solid 1px #000;
    margin-bottom: 1px;
}
body{
    font-family: verdana;
    margin: 0px;
}
.caixa-principal{
    width: 100%;
    height: 900px

}
.conteudo{
    width: 1200px;
    height: inherit;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.formulario{
    width: 500px;
    height: inherit;
    box-shadow: 8px 8px 15px #999;
    padding-top: 2px;
    border: solid 1px #e3e3e3;
    border-radius: 8px;
    margin-bottom: 20px;
}
h1,.tabela-titulo{
    margin: 0px;
    padding: 0px;
    padding-top: 16px;
    height: 58px;
    width: 490px;
    text-align: center;
    box-sizing: border-box;
    background-color: #82b0fa;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
.tabela-titulo{
    width: inherit;
}
.itens_formulario, .itens_formulario-obs, .itens_formulario-botoes{
    width: inherit;
    height: 80px;
}
.titulo-item-formulario, .titulo-item-formulario-obs{
    width: 150px;
    height: inherit;
    background-color: #d5d7db;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
    float: left;
    border: solid 2px #ffffff;
}
.itens_formulario-obs{
    height: 150px;
}
.titulo-item-formulario-obs{
    padding-top: 50px;
}
.campo-formulario,.campo-formulario-obs{
    width: 350px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 5px;
}
.campo-formulario-obs{
    padding-top: 13px;
}
textarea{
    width: 300px;
    height: 110px;
    resize: none;
}
.itens_formulario-botoes{
    height: 30px;
    padding-top: 3px;
    padding-left: 3px;
    box-sizing: border-box;
}
.itens_formulario-botoes .botao{
    margin-right: 50px;
}
.tabela{
    width:1385px;
    height: auto;
    min-height: 150px;
    box-shadow: 8px 8px 15px #999;

}
.campo-tabela{
    width: 230px;
    height: 88px;
    float:left;
    text-align: center;
    box-sizing: border-box;
}
.campo-linha{
    width: inherit;
    height: inherit;
}
.campo-item{
    width: inherit;
    height: 45px;
    border:solid 1px #000;
    padding: 1px;
    box-sizing: border-box;
    margin-right: 1px;
    padding-top: 9px;
}
.campo-item div{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}
.campo-item div img{
    width: 25px;
    height: 25px;
}
/* Formatação da MODAL*/
#container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: fixed;
    display: none;
}
#modal{
    width: 800px;
    height: 500px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
.visualizar:hover{
    cursor: pointer;
}